# Visual Studio / VSCode
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/

# Data
App_Data/
